body{
   background-color:  #F9FAFB;
   display: flex;
   justify-content: center;
   flex-direction: column; /* Sắp xếp theo hàng dọc */
   align-items: center;
   
}

.divTitle{
    width: 324px;
    display: flex;
   justify-content: center;
   flex-direction: column; /* Sắp xếp theo hàng dọc */
   align-items: center;
}
    .img{
    width: 324px;
    height: 140px;
        object-fit: cover;
    }
    .pTitle{
        font-size: 24px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

.divContent{
    display: flex;
   justify-content: center;
   flex-direction: column; /* Sắp xếp theo hàng dọc */
   align-items: center;
    width: 540px;
    border-radius: 20px; /* Bo tròn các góc */
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1); 
    z-index: 1; 
    
}
   .divh3{
    display: flex;
   justify-content: center;
   margin-top: 10px;
   
   }
        .h3LOGIN{
            color: #3B82F6;
        }

    .divCTmain{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 10%;
      margin-right: 10%;
      /* width: 80%; */
      
    }
        
        .lbMail{
            font-size: 16x;
            margin-bottom: 10px;            
        }
        .ipMail{
            height: 42px;
            font-size: 18px;
            border-radius: 8px;
                 
        }
        .divPW{
            margin-top: 4px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        
        }
            .lbPW{
                font-size: 16px;

            }
        .ipPW{
            height: 42px;
            font-size: 18px;
            border-radius: 8px;
        }

        .btnLOGIN{
            height: 48px;
            font-size: 18px;
            border-radius: 8px;
            margin-top: 30px;
            margin-bottom: 20px;
            background: #3B82F6;

            color: #F9FAFB;
        }
        p.{
            font-size: 16px;
        }
        .divLogin{
            margin-top: 10px;
            margin-bottom: 60px;
        }
            .cb{
                transform: scale(1.5); /* Tăng kích thước checkbox */
                
            }
        .btnSignup{
            height: 48px;
            font-size: 18px;
            border-radius: 8px;
            margin-bottom: 50px;
            background-color: #F9FAFB;
            box-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
        }
